.card {
  width: 328px;
  height: 328px;
  border-radius: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__name {
  position: absolute;
  background-color: #fff;
  padding: 2px 12px;
  top: 15px;
  margin: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-weight: bold;
}

.card__image {
  border-radius: 19px;
  width: 100%;
}
