.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
  line-height: 1.5;
}

.header__date-and-location {
  margin: 11px 0 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.header__add-clothes-btn {
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.header__link {
  text-decoration: none;
  color: inherit;
}
