.sidebar {
    display: flex;
    width: 345px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
}

.sidebar__username {
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-weight: 700;
    font-size: 20px;
}